/**header**/
body {
  min-width: 320px;
  max-width: 420px;
  margin: 0 auto;
  font-family: Roboto, sans-serif, Arial, Helvetica;
}

nav {
  text-align: center;
}

nav .nav-logo {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

nav .nav-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  font-weight: bold;
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(33, 35, 38, 0.1) inset;
          box-shadow: 0px 3px 5px 0px rgba(33, 35, 38, 0.1) inset;
}

/**main - search**/
.searchBox {
  background-color: #f6f6f6;
  text-align: center;
  margin-bottom: 1rem;
}

.searchBox h1 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 2.5rem;
  margin-top: 0;
}

.searchBox button {
  border: none;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e471db), to(#a75cdc));
  background-image: linear-gradient(to bottom right, #e471db, #a75cdc);
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 3rem;
}

/**main - function**/
.function h1 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 1rem;
}

.function-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.function-content .function-content_number {
  width: 10px;
  color: white;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin-right: -7px;
  margin-bottom: 7px;
  border-radius: 50% 50%;
  padding: 0.3rem;
  background-color: #9356dc;
  z-index: 1;
}

.function-content_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70%;
  margin-bottom: 1rem;
  background-color: #f6f6f6;
  z-index: 0;
}

.function-content_box i {
  margin-left: 1.5rem;
  text-align: center;
  color: grey;
  width: 10%;
}

.function-content_box .fa-store {
  color: #9356DC;
}

.function-content_box p {
  text-align: center;
  font-size: 14px;
  width: 90%;
}

/**main - restaurant**/
.restaurant-title {
  background-color: #f6f6f6;
}

.restaurant-title h1 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  margin-bottom: 0;
}

.restaurant {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  margin-top: 0;
}

.restaurant-content {
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  width: 90%;
  line-height: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.restaurant-content .restaurant-content_promo {
  text-align: center;
  color: green;
  background-color: #99E2D0;
  padding: 1rem;
  width: 20%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.restaurant-content img {
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.restaurant-content h4 {
  padding-left: 1rem;
  margin-bottom: 0;
  margin-right: 0;
}

.restaurant-content p {
  padding-left: 1rem;
  margin-bottom: -1rem;
  margin-right: 0;
  width: 80%;
}

.restaurant-content i {
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  float: right;
}

/**footer**/
footer {
  background-color: #474f4e;
  padding-bottom: 1.5rem;
  color: white;
}

footer .footer-logo {
  font-family: shrikhand, sans-serif;
  font-size: 18px;
  font-style: italic;
  padding-top: 1rem;
  padding-left: 1rem;
}

footer .footer-link {
  list-style-type: none;
  padding-bottom: 0.5rem;
}

footer .footer-link i {
  padding-right: 1rem;
}
/*# sourceMappingURL=style.css.map */