/**footer-page**/

footer{
    background-color: #474f4e;
    padding-bottom: 1.5rem;
    color: white;
        .footer-logo{
            font-family: shrikhand, sans-serif;
            font-size: 18px;        
            font-style: italic;
            padding-top: 1rem;
            padding-left: 1rem;        
    }
        .footer-link{
            list-style-type: none;
            padding-bottom: 0.5rem;
    
            i{
                padding-right: 1rem;
            }
        }
    
    
    }