@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  box-sizing: border-box;
}

nav {
  text-align: center;
}
nav .nav-logo {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
nav .nav-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  font-weight: bold;
  background-color: #eaeaea;
  box-shadow: 0px 3px 5px 0px rgba(33, 35, 38, 0.1) inset;
}

/**nav page menu**/
.NavMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  font-size: 30px;
}
.NavMenu .fa-arrow-left {
  text-align: left;
  color: black;
}

button {
  border: none;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px;
  background-image: linear-gradient(to bottom right, #e471db, #a75cdc);
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 3rem;
}

/**main - function**/
@media screen and (min-width: 600px) {
  #search {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
  #search .searchBox {
    width: 50%;
    margin-bottom: 0;
    background-color: white;
  }
  #search .function {
    width: 45%;
  }
}
@media screen and (min-width: 900px) {
  #search {
    justify-content: space-around;
    column-gap: 3.5rem;
  }
  #search .searchBox {
    width: 30%;
  }
  #search .function {
    width: 30%;
  }
}

.searchBox {
  background-color: #f6f6f6;
  text-align: center;
  margin-bottom: 1rem;
}
.searchBox .searchBox-title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 2.5rem;
  margin-top: 0;
}
.searchBox .searchBox-button {
  cursor: pointer;
}

.function-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 1rem;
}

.function-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.function-content .function-content_number {
  width: 15px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-right: -10px;
  margin-bottom: 10px;
  border-radius: 50% 50%;
  padding: 0.5rem;
  background-color: #9356dc;
  z-index: 1;
}

.function-content_box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f6f6f6;
  z-index: 0;
  cursor: pointer;
}
.function-content_box:hover {
  background-color: #f5edff;
}
.function-content_box:hover:hover i {
  color: #9356DC;
}
.function-content_box i {
  margin-left: 1.5rem;
  text-align: center;
  color: grey;
  width: 10%;
}
.function-content_box p {
  text-align: left;
  padding-left: 1.5rem;
  font-size: 14px;
  width: 90%;
}

/**main - restaurant**/
#restaurant {
  background-color: #f6f6f6;
}
@media screen and (min-width: 900px) {
  #restaurant {
    width: 100%;
  }
}

.restaurant-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  margin-bottom: 0;
}

.restaurant-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  margin-top: 0;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .restaurant-box {
    justify-content: space-around;
    width: 100%;
  }
  .restaurant-box .restaurant-content {
    width: 20%;
  }
}

.restaurant-content {
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  width: 90%;
  line-height: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}
.restaurant-content .restaurant-content_link {
  text-decoration: none;
  color: black;
}
.restaurant-content .restaurant-content_link:hover {
  color: #9356DC;
}
.restaurant-content .restaurant-content_promo {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  color: green;
  background-color: #99E2D0;
  padding: 1rem;
  width: 40%;
  position: absolute;
  top: 10px;
  right: 10px;
}
.restaurant-content .restaurant-content_image {
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: center;
}
.restaurant-content .restaurant-content_name {
  padding-left: 1rem;
  margin-bottom: 0;
  margin-right: 0;
}
.restaurant-content .restaurant-content_place {
  padding-left: 1rem;
  margin-bottom: -1rem;
  margin-right: 0;
  width: 80%;
}
.restaurant-content .restaurant-content_icon {
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  float: right;
  font-size: 20px;
  color: black;
  cursor: pointer;
  opacity: 1;
}
.restaurant-content .restaurant-content_icon_Empty {
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  float: right;
  font-size: 20px;
  color: violet;
  cursor: pointer;
  opacity: 0;
}

/**footer-page**/
footer {
  background-color: #474f4e;
  padding-bottom: 1.5rem;
  color: white;
}
footer .footer-logo {
  font-family: "Shrikhand";
  font-size: 25px;
  font-style: italic;
  padding-top: 1rem;
  padding-left: 1rem;
}
footer .footer-link {
  list-style-type: none;
  padding-bottom: 0.5rem;
}
footer .footer-link a {
  text-decoration: none;
  color: white;
}
footer .footer-link i {
  padding-right: 1rem;
}

@media screen and (min-width: 800px) {
  .NavMenu {
    justify-content: start;
    column-gap: 450px;
    align-items: center;
  }
  .NavMenu .fa-arrow-left {
    margin-left: 50px;
  }
}

.HeadbandWrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 0rem;
  position: relative;
  z-index: 0;
}
.HeadbandWrapper img {
  width: 100%;
}
@media screen and (min-width: 800px) {
  .HeadbandWrapper img {
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

.Menu {
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: #f6f6f6;
  margin-top: -1rem;
  position: relative;
  z-index: 1;
}

.RestaurantName {
  width: 100%;
  font-family: Shrikhand;
  font-size: 18px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.RestaurantName h1 {
  padding-left: 1rem;
}
.RestaurantName .fa-heart {
  cursor: pointer;
  font-size: 20px;
  padding-right: 1rem;
}

/* #MenuStarter{
    @media screen and (min-width:$mediaqueries-tab) {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 10px;
        .MenuTitle{
            grid-column-start: 1;
            grid-column-end: 4;
        }

}

}
 */
/* .MenuBlock{
    width: 100%;

    @media screen and (min-width:$mediaqueries-tab){
        display: inline-flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 1.5rem;
    }  

    #MenuStarter{
    margin-bottom: 3rem;
    padding-left: 1rem;
        @media screen and (min-width: $mediaqueries-tab){
            width: 30%;}    
    }

    #MenuDish{
        margin-bottom: 3rem;
        padding-left: 1rem;
            @media screen and (min-width: $mediaqueries-tab){
                width: 30%;}   
     }

    #MenuDessert{
        margin-bottom: 3rem;
        padding-left: 1rem;   
            @media screen and (min-width: $mediaqueries-tab){
            width: 30%;}  
    }      
} 
 */
/**Cartes Menu**/
.MenuTitle {
  width: 40%;
}
.MenuTitle h2 {
  padding-left: 0.5rem;
  margin-bottom: 0;
}
.MenuTitle .MenuTitle-underline {
  width: 30%;
  border-top: 5px solid #99E2D0;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.MenuBox {
  width: 90%;
  margin-bottom: 5rem;
  margin-right: auto;
}

.MenuContent {
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  height: auto;
  background-color: white;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0;
  display: grid;
  grid-template-columns: 90% 10%;
}

.MenuContentBox {
  margin-left: 1rem;
  margin-right: 0;
  padding: 0;
  width: 80%;
  height: auto;
  position: relative;
}

.MenuContentTitle {
  width: 100%;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MenuContentDesc {
  width: 100%;
  font-size: 12px;
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MenuContentPrice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 2rem;
  width: 100%;
  height: auto;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}

.MenuCheck {
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #99E2D0;
  width: 100%;
  height: 95px;
  text-align: right;
  margin-right: 0;
  z-index: -2;
}
.MenuCheck .fa-check-circle {
  font-size: 30px;
  padding: 2rem;
  color: #fffefe;
}

/**Bouton Menu**/
.MenuOrder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .MenuOrder button {
    font-size: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }
}

/**Général**/
button {
  transform: scale(1);
  transition: transform 1s;
}

button:hover {
  transform: scale(1.2);
}

/* button{
    animation: pulse 0.5s infinite;
}

@keyframes pulse {

    to{
        box-shadow: rgba(53, 23, 23, 0.3) 0px 0px 30px;
    }    
} */
/**Accueil : Card**/
.restaurant-content {
  transform: scale(1);
  transition: transform 0.4s 0.5s;
}
.restaurant-content:hover {
  transform: scale(1.07);
}

/** Heart**/
.fa-heart {
  position: relative;
}

.fa-heart:hover {
  transition: opacity 200ms ease-in-out;
}

.fa-heart:hover::after {
  opacity: 0;
}

.fa-heart:hover::before {
  opacity: 1;
}

.fa-heart::after {
  opacity: 1;
  font-weight: 100;
  align-self: center;
  transition: opacity 400ms ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "\f004";
}

.fa-heart::before {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 400ms ease-out;
  font-weight: 600;
}

/**Menu Animation**/
.MenuContent {
  z-index: 1;
  transform: scaleX(1);
  transform-origin: left;
  transition: all 0.5s ease;
}

.fa-check-circle {
  transform: translate(20px, 0) rotate(0);
  transition: transform 1.5s ease;
  opacity: 0;
  transition: opacity 0 0.6s;
}

.MenuBox {
  cursor: pointer;
}
.MenuBox:hover .MenuContent {
  transform: scaleX(0.7);
  border-radius: 20px 0 0 20px;
}
.MenuBox:hover .MenuContentCheck .MenuCheck .fa-check-circle {
  transform: translate(0, 0) rotate(-360deg);
  opacity: 1;
}

/**Menu apparition**/
.MenuBox {
  animation: slide 2s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
