/**Loader Spinner**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
header, main, footer {
  animation-name: molten-pull;
  animation-duration: 5s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.loader {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(252, 252, 252, 0.95);
  position: fixed;
  animation-name: molten-push;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.LoaderSpinner {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 10px solid rgba(153, 226, 208, 0.2);
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.LoaderSpinner:before {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  position: absolute;
  animation-name: spinner;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.LoaderSpinner:after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  position: absolute;
  animation-name: spinner;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/*Les animations*/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes molten-push {
  0% {
    opacity: 0.95;
    z-index: 1000;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes molten-pull {
  0% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  box-sizing: border-box;
}

nav {
  text-align: center;
}
nav .nav-logo {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
nav .nav-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  font-weight: bold;
  background-color: #eaeaea;
  box-shadow: 0px 3px 5px 0px rgba(33, 35, 38, 0.1) inset;
}

/**nav page menu**/
.NavMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  font-size: 30px;
}
.NavMenu .fa-arrow-left {
  text-align: left;
  color: black;
}

/**footer-page**/
footer {
  background-color: #474f4e;
  padding-bottom: 1.5rem;
  color: white;
}
footer .footer-logo {
  font-family: "Shrikhand";
  font-size: 25px;
  font-style: italic;
  padding-top: 1rem;
  padding-left: 1rem;
}
footer .footer-link {
  list-style-type: none;
  padding-bottom: 0.5rem;
}
footer .footer-link a {
  text-decoration: none;
  color: white;
}
footer .footer-link i {
  padding-right: 1rem;
}

/**main - function**/
.searchBox {
  background-color: #f6f6f6;
  text-align: center;
  margin-bottom: 1rem;
}
.searchBox .searchBox-title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 2.5rem;
  margin-top: 0;
}
.searchBox .searchBox-button {
  cursor: pointer;
}

.function-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 1rem;
}

.function-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.function-content .function-content_number {
  width: 15px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-right: -10px;
  margin-bottom: 10px;
  border-radius: 50% 50%;
  padding: 0.5rem;
  background-color: #9356dc;
  z-index: 1;
}

.function-content_box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f6f6f6;
  z-index: 0;
  cursor: pointer;
}
.function-content_box:hover {
  background-color: #f5edff;
}
.function-content_box:hover:hover i {
  color: #9356DC;
}
.function-content_box i {
  margin-left: 1.5rem;
  text-align: center;
  color: grey;
  width: 10%;
}
.function-content_box p {
  text-align: left;
  padding-left: 1.5rem;
  font-size: 14px;
  width: 90%;
}

/**main - restaurant**/
#restaurant {
  background-color: #f6f6f6;
}

.restaurant-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  margin-bottom: 0;
}

.restaurant-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  margin-top: 0;
  width: 100%;
}

.HeadbandWrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  z-index: 0;
}
.HeadbandWrapper img {
  width: 100%;
}

.Menu {
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: #f6f6f6;
  margin-top: -1rem;
  position: relative;
  z-index: 1;
}

.RestaurantName {
  width: 100%;
  font-family: Shrikhand;
  font-size: 18px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.RestaurantName h1 {
  padding-left: 1rem;
}
.RestaurantName .fa-heart {
  cursor: pointer;
  font-size: 20px;
  padding-right: 1rem;
}

/**Bloc Menu**/
.MenuBlock {
  width: 100%;
}
.MenuBlock #MenuStarter {
  padding-left: 1rem;
  padding-right: 1rem;
}
.MenuBlock #MenuDish {
  padding-left: 1rem;
  padding-right: 1rem;
}
.MenuBlock #MenuDessert {
  padding-left: 1rem;
  padding-right: 1rem;
}

.MenuTitle {
  width: 40%;
}
.MenuTitle h2 {
  padding-left: 0.5rem;
  margin-bottom: 0;
}
.MenuTitle .MenuTitle-underline {
  width: 30%;
  border-top: 5px solid #99E2D0;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

/**Bouton Menu**/
.MenuOrder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-content {
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  width: 90%;
  line-height: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}
.restaurant-content .restaurant-content_link {
  text-decoration: none;
  color: black;
}
.restaurant-content .restaurant-content_link:hover {
  color: #9356DC;
}
.restaurant-content .restaurant-content_promo {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  color: green;
  background-color: #99E2D0;
  padding: 1rem;
  width: 40%;
  position: absolute;
  top: 10px;
  right: 10px;
}
.restaurant-content .restaurant-content_image {
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: center;
}
.restaurant-content .restaurant-content_name {
  padding-left: 1rem;
  margin-bottom: 0;
  margin-right: 0;
}
.restaurant-content .restaurant-content_place {
  padding-left: 1rem;
  margin-bottom: -1rem;
  margin-right: 0;
  width: 80%;
}
.restaurant-content .restaurant-content_icon {
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

/**Cartes Menu**/
.MenuBox {
  background-color: transparent;
  position: relative;
  margin-bottom: 2rem;
}

.MenuContent {
  width: 80%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: 80% 20%;
}

.MenuContentTitle {
  width: 80%;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MenuContentDesc {
  width: 80%;
  padding-left: 1rem;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column-start: 1;
  grid-row-start: 2;
}

.MenuContentPrice {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuCheck {
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #99E2D0;
  width: 100%;
  height: 85px;
  text-align: right;
  margin-right: 0;
  z-index: -2;
}
.MenuCheck .fa-check-circle {
  font-size: 35px;
  padding: 1.7rem;
  color: #fffefe;
}

button {
  border: none;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px;
  background-image: linear-gradient(to bottom right, #e471db, #a75cdc);
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 3rem;
}

/*---Page accueil---*/
@media screen and (min-width: 650px) {
  #search {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
  #search .searchBox {
    width: 50%;
    margin-bottom: 0;
    background-color: white;
  }
  #search .function {
    width: 45%;
  }
}
@media screen and (min-width: 900px) {
  #search {
    justify-content: space-around;
    column-gap: 3.5rem;
  }
  #search .searchBox {
    width: 30%;
  }
  #search .function {
    width: 30%;
  }
}

@media screen and (min-width: 900px) {
  #restaurant {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .restaurant-box {
    justify-content: space-around;
    width: 100%;
  }
  .restaurant-box .restaurant-content {
    width: 20%;
  }
}

/*---Page Menu---*/
@media screen and (min-width: 1440px) {
  .NavMenu {
    justify-content: start;
    column-gap: 700px;
    align-items: center;
  }
  .NavMenu .fa-arrow-left {
    margin-left: 100px;
  }
}

@media screen and (min-width: 900px) {
  .HeadbandWrapper img {
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (min-width: 900px) {
  .MenuBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .MenuBlock #MenuStarter {
    width: 30%;
  }
  .MenuBlock #MenuDish {
    width: 30%;
    margin-left: -3.5rem;
  }
  .MenuBlock #MenuDessert {
    width: 30%;
    margin-left: -3.5rem;
  }
}

@media screen and (min-width: 900px) {
  .MenuOrder button {
    font-size: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }
}

/**Bouton-validation**/
button {
  transform: scale(1);
  transition: transform 1s;
}

button:hover {
  transform: scale(1.2);
}

/**Accueil : Card**/
.restaurant-content {
  transform: scale(1);
  transition: transform 0.4s 0.5s;
}
.restaurant-content:hover {
  transform: scale(1.07);
}

/** Heart**/
.fa-heart {
  position: relative;
}

.fa-heart:hover {
  transition: opacity 200ms ease-in-out;
}

.fa-heart:hover::after {
  opacity: 0;
}

.fa-heart:hover::before {
  opacity: 1;
}

.fa-heart::after {
  opacity: 1;
  font-weight: 100;
  align-self: center;
  transition: opacity 400ms ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "\f004";
}

.fa-heart::before {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 400ms ease-out;
  font-weight: 600;
}

/**Menu Animation**/
.MenuContent {
  z-index: 1;
  transition: all 0.5s ease;
}

.fa-check-circle {
  transform: translate(30px, 0) rotate(0);
  opacity: 0;
  transition: all 2s ease;
}

.MenuBox {
  cursor: pointer;
}
.MenuBox:hover .MenuContent {
  width: 80%;
  background-color: #f5edff;
  border-radius: 20px 0 0 20px;
}
.MenuBox:hover .MenuCheck .fa-check-circle {
  transform: translate(0, 0) rotate(-720deg);
  opacity: 1;
}

/**Menu apparition**/
.MenuBox {
  animation: slide 2.5s linear 0.7s;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
