
/*---Page accueil---*/

#search{   
    @media screen and (min-width: $mediaqueries-tab){
       display: inline-flex;
       justify-content: space-between;
       width: 100%;

       .searchBox{
           width: 50%;                       
           margin-bottom: 0;
           background-color: white;
       }
       .function{
           width: 45%;
       }
   }
   @media screen and (min-width:$mediaqueries-destock){
       justify-content: space-around;
       column-gap: 3.5rem;
       .searchBox{
           width: 30%;
       }
       .function{
           width: 30%;
       }
   }           
}    


#restaurant{
    @media screen and (min-width:$mediaqueries-destock){
        width: 100%;
    }
}



.restaurant-box{
    @media screen and (min-width:$mediaqueries-destock){
        justify-content: space-around;
        width: 100%;
        .restaurant-content{
            width: 20%;
        }
    }  
}


/*---Page Menu---*/

.NavMenu{
    @media screen and (min-width:1440px){
    justify-content: start;
    column-gap: 700px;
    align-items: center;
        .fa-arrow-left{
            margin-left: 100px;
        }
    }
} 

.HeadbandWrapper{    
    img{
        @media screen and (min-width:$mediaqueries-destock){
        height: 300px;
        object-fit: cover;
        object-position: center;
        }
    }
}

.MenuBlock{
    @media screen and (min-width:$mediaqueries-destock){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    #MenuStarter{
        width: 30%;        
        }
    #MenuDish{
        width: 30%; 
        margin-left: -3.5rem;   
        }
    #MenuDessert{
        width: 30%;
        margin-left: -3.5rem;     
        }   
    }
}   

.MenuOrder{    
     button{
        @media screen and (min-width:$mediaqueries-destock){
        font-size: 20px;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-top: 2.5rem;
        margin-bottom: 5rem; 
        }  
    }     
} 