.NavMenu{
    @media screen and (min-width: $mediaqueries-tab){
        justify-content: start;
        column-gap: 450px;
        align-items: center;
            .fa-arrow-left{
                margin-left: 50px;
            }
        }
}

.HeadbandWrapper{    
    width: 100%;
    text-align: center;
    margin-bottom: 0rem;
    position:relative;
    z-index: 0;
    img{
        width: 100%;
        @media screen and (min-width:$mediaqueries-tab){
        height: 300px;
        object-fit: cover;
        object-position: center;
        }  
    }   
}

.Menu{
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: $background-color-gris;
    margin-top: -1rem;    
    position: relative;
    z-index: 1;
}

.RestaurantName{
    width: 100%;
    font-family: Shrikhand;
    font-size: 18px;
    display: inline-flex;
    justify-content: space-between; 
    align-items: center;
    h1{
        padding-left: 1rem;
    }     
    .fa-heart{
        cursor: pointer;
        font-size: 20px;
        padding-right: 1rem;                       
    }
}

/* #MenuStarter{
    @media screen and (min-width:$mediaqueries-tab) {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 10px;
        .MenuTitle{
            grid-column-start: 1;
            grid-column-end: 4;
        }

}

}
 */

/* .MenuBlock{
    width: 100%;

    @media screen and (min-width:$mediaqueries-tab){
        display: inline-flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 1.5rem;
    }  

    #MenuStarter{
    margin-bottom: 3rem;
    padding-left: 1rem;
        @media screen and (min-width: $mediaqueries-tab){
            width: 30%;}    
    }

    #MenuDish{
        margin-bottom: 3rem;
        padding-left: 1rem;
            @media screen and (min-width: $mediaqueries-tab){
                width: 30%;}   
     }

    #MenuDessert{
        margin-bottom: 3rem;
        padding-left: 1rem;   
            @media screen and (min-width: $mediaqueries-tab){
            width: 30%;}  
    }      
} 
 */


/**Cartes Menu**/

 .MenuTitle{
    width: 40%;
    h2{
        padding-left: 0.5rem;
        margin-bottom: 0;
     }
    .MenuTitle-underline{
        width: 30%;
        border-top: 5px solid $tertiary-color;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
    }
}

.MenuBox{
    width: 90%;
    margin-bottom: 5rem;
    margin-right: auto;
}

.MenuContent{
    @include box-shadow;
    width: 100%;   
    height: auto;
    background-color: white;
    position: absolute;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0;
    display: grid;
    grid-template-columns: 90% 10%;   
}      

.MenuContentBox{
    margin-left: 1rem;
    margin-right: 0;
    padding: 0;
    width: 80%;
    height:auto;
    position: relative;           
}

.MenuContentTitle{
    width: 100%;
    padding-left: 1rem;
    padding-top: 0.5rem;        
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;           
}

.MenuContentDesc{
    width: 100%;
    font-size: 12px;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    position: relative;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;    
}

.MenuContentPrice{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 2rem;
    width: 100%;
    height:auto;         
    font-weight: bold;
    font-size: 20px;
    position: relative;          
}

.MenuCheck{
   @include box-shadow;
   background-color: $tertiary-color;
   width: 100%;
   height: 95px;
   text-align: right;
   margin-right: 0;
   z-index: -2;
    .fa-check-circle{
       font-size: 30px;
       padding: 2rem;
       color: rgb(255, 254, 254);
   }
}

/**Bouton Menu**/

.MenuOrder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        @media screen and (min-width: $mediaqueries-tab){
            font-size: 20px;
            padding-left: 3rem;
            padding-right: 3rem;
            margin-top: 2.5rem;
            margin-bottom: 5rem; }  
    }    
}


